# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.1.0/).

## [Unreleased]

### Added
- [NEW_FEATURE]

### Changed
- [CHANGE]

### Fixed
- [BUG_FIX]

### Removed
- [REMOVAL]

## [[VERSION]] - [DATE]

### Added
- [NEW_FEATURE] ([PR_LINK])

### Changed
- [CHANGE] ([PR_LINK])

### Fixed
- [BUG_FIX] ([ISSUE_LINK])

### Breaking Changes
- [BREAKING_CHANGE]
